body{
    background-color: #D8DFE8;
    margin: 2.5rem;
    font-family: 'Inter', sans-serif;
}

.logo{
    text-align: center;
    width: 7.5rem;
    height: 3rem;
}

#texto{
    width: 42.5rem;
    height: 3rem;
    background-color: #D8DFE8;
    border: none;
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
}

#texto:focus{
    border: none;
    box-shadow: none;
    outline: none;
}